<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>ML-IDE</title>
    <meta charset="UTF-8">
    <meta name="description" content="Web application for a machine learning powered IDE.">
    <meta name="author" content="Sam Clark, Josh Childs">
    {% endblock %}
</head>
{% block body %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="{{ url_for('static', filename='robot-logo.png') }}" width="30" height="30"
             class="d-inline-block align-top"
             alt="">
        ML-IDE
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " href="#">Placeholder<span
                    class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <button class="btn btn-outline-success mr-sm-2" type="submit">Run</button>
            </ul>
        </div>
    </div>


</nav>
{% endblock %}
{% endblock %}
</html>