{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css"/>
    <link rel="stylesheet" href="https://firepad.io/releases/v1.5.9/firepad.css"/>
    <script src="https://firepad.io/releases/v1.5.9/firepad.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='robot-logo-fav.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/custom.css"/>
    <link rel="stylesheet" href="https://codemirror.net/theme/darcula.css"/>
{% endblock %}

{% block body %}
    <body onload="init()">
    {% block nav %}
        {{ super() }}


        <div class="jumbotron editor-container">
            <div id="firepad-container"></div>
            <div class="editor-panel">
                <nav class="navbar navbar-expand-sm">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <select class="form-control" id="selected-language">
                                <option value="predict" id="predict-option">Predict</option>
                                <option value="py">Python</option>
                                <option value="c">C</option>
                                <option value="swift">Swift</option>
                                <option value="hs">Haskell</option>
                                <option value="js">JavaScript</option>
                                <option value="java">Java</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-info ml-3" href="#/" id="run-button">Run</a>
                        </li>
                        <li class="nav-item ml-5">
                            <button class="btn btn-light" href="#/" id="show-stdout">Result</button>
                        </li>
                        <li class="nav-item ml-1">
                            <button class="btn btn-light" href="#/" id="show-stderr">Errors</button>
                        </li>
                    </ul>
{#                    <button class="btn btn-danger"><i class="fa fa-close"></i></button>#}
                </nav>
                <pre class="text-light" id="program-output"></pre>
            </div>
        </div>



    {% endblock %}
    <script src="../static/firepad-init.js"></script>
    <script src="../static/loadmode.js"></script>
    <script src="../static/classify-editor.js"></script>
    <script src="../static/run.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}