{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css"/>
    <link rel="stylesheet" href="https://firepad.io/releases/v1.5.9/firepad.css"/>
    <script src="https://firepad.io/releases/v1.5.9/firepad.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='robot-logo-fav.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/custom.css"/>
{% endblock %}

{% block body %}
    <body onload="init()">
    {% block nav %}
        {{ super() }}


        <div class="jumbotron jumbotron-fluid">
            <div id="firepad-container"></div>
        </div>



    {% endblock %}
    <script src="../static/firepad-init.js"></script>
    <script src="../static/loadmode.js"></script>
    <script src="../static/classify-editor.js"></script>
    <script src="../static/run.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}