html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
}

/* Height / width / positioning can be customized for your use case.
   For demo purposes, we make firepad fill the entire browser. */
#firepad-container, .firepad {
    height: auto;
}


.jumbotron {
    flex-direction: column;
    margin-bottom: 0;
}

.editor-container {
    background-color: inherit;
}

.editor-panel {
    background-color: #2B2B2B;
    padding: 20px;
    margin: auto;
}

.CodeMirror {
    height: auto;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0 ;
}

.firepad .CodeMirror {
    position: relative;
}

.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
